

.map-container{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
}

/* Animación para los marcadores */
@keyframes markerBounce {
  0% { transform: translateY(0); }
  20% { transform: translateY(-10px); }
  40% { transform: translateY(0); }
  60% { transform: translateY(-5px); }
  80% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.animated-marker img {
  animation: markerBounce 1s infinite;
}

/* Estilos y animaciones para el popup */
.mapboxgl-popup {
  border-radius: 10px;
  overflow: hidden; /* Para mantener las imágenes y contenido dentro del popup */
}

.mapboxgl-popup-content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mapboxgl-popup-close-button {
  background-color: rgba(0, 0, 0, 0.1); /* Le da un poco de opacidad al botón de cerrar */
}

/* Animación para el popup */
@keyframes popupFadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.mapboxgl-popup {
  animation: popupFadeIn 0.3s forwards;
}
